APScheduler==3.7.0
asgiref==3.3.4
Django==3.1.7
django-apscheduler==0.5.2
django-cors-headers==3.7.0
django-environ==0.4.5
django-memoize==2.3.1
django-rest-framework==0.1.0
djangorestframework==3.12.4
mysqlclient==2.0.3
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
tzlocal==2.1
